:host {
    display: block; /* Change to block display */
    padding: 45px; /* Add padding around the content */
  }
  
  .content {
    max-width: 1080px; /* Set a maximum width for the content */
    margin: 0 auto; /* Center the content horizontally */
  }
  